extends layout

block content
  .sin-form.wrapper
    form(id="sinForm")
      .sin-form__textarea
        textarea(id="sinText" name="sinText" placeholder="Confess..." rows="1")
      .sin-form__controls
        button(id="forgiveBtn" name="forgiveBtn" class="disabled") Forgive Me
        button(id="nextSin" name="nextSin") Next Sin
  
  include includes/popup.pug