extends layout

block content
  .sin-form.wrapper
    form(id="sinForm")
      textarea(id="sinText" name="sinText" placeholder=sin.text rows="1")
      .sin-form__controls
        button(id="forgiveBtn" name="forgiveBtn") forgive me