.heading-box {
  .heading-box__text {
    display: inline-block;
    padding: 0;
    margin: 3.5rem 0 0 0;
    font-size: 4rem;
    color: $brand-black;
    border-bottom: 4px solid $brand-black;
  }

  .heading-box__underline {
    margin: 0;
    padding: 0;
    height: 4px;
    border: none;
    background-color: $brand-black;
  }
}
