html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $background-color-2;
  margin: 0 0 50px;
  @include roboto-condensed();
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}
