.sin-form {
  margin-top: 2rem;

  form {
    @include flex();
  }

  .sin-form__textarea {
    width: 100%;

    textarea {
      width: 100%;
      min-height: 20rem;
      padding: 16px;
      background-color: $background-color-1;
      border: none;
      border-radius: 3px;
      resize: none;
      box-shadow: 0 1px 3px rgba(42, 49, 59, 0.12),
        0 1px 2px rgba(42, 49, 59, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }

  .sin-form__controls {
    width: 100%;
    margin-top: 1rem;
    @include flex(row, center);

    button {
      background-color: $brand-black;
      border: none;
      border-radius: 3px;
      padding: 8px 12px;
      margin: 0 16px;
      font-size: 1rem;
      color: $background-color-2;
      @include transition(all, 100ms);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &.disabled {
        opacity: 0.4;
        cursor: default;
      }
    }
  }
}
