.sin-form {
  margin-top: 1rem;

  form {
    @include flex();
  }

  .sin-form__textarea {
    width: 100%;

    textarea {
      width: 100%;
      height: 120px;
      padding: 8px;
      background-color: $background-color-1;
      border: 1px solid $border-color;
      border-radius: 6px;
      resize: none;
    }
  }

  .sin-form__controls {
    width: 100%;
    margin-top: 1.3em;
    @include flex(row, center);

    button {
      background-color: $background-color-3;
      opacity: 0.5;
      border: 1px solid $border-color;
      border-radius: 2px;
      padding: 8px 12px;
      margin: 0 16px;
      @include transition(all, 200ms);

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
