// Colors
$brand-white: #ffffff;
$brand-black: #2a313b;
$brand-gray: #d0d3d8;
$brand-red: #f46067;
$brand-green: #98971a;
$brand-blue: #5294e2;

$font-color: #a0a4aa;
$font-color-focus: #5c616c;

$border-color: #d0d3d8;

$background-color-1: #ffffff;
$background-color-2: #f5f6f7;
$background-color-3: #e3e5e9;

$input-color-placeholder: #a0a4aa;

$opacity-default: 0.44;
